# To create a variable, use ${<some_label>} in the main file, 
# then in this .env file, create <SOME_LABEL>="something"
# ie. TIMEZONE=${TIMEZONE}, env -> TIMEZONE="America/Vancouver"
#     Output: TZ=America/Vancouver

# If you're not sure what timezone you should fill in, you can look at the following list:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Use the column that says "TZ database name".
TIMEZONE=America/Vancouver


# The PleX claim token is used to connect your server to your account. It can be obtained at
# https://www.plex.tv/claim/ and is valid for 4 minutes after generating the token.
PLEX_CLAIM_ID=someClaimKey

# VPN (NordVPN)
# webui login page:
#   user = admin
#   pw = adminadmin
VPN_USER=sample.gmail.com
VPN_PW=somePassword
# VPN_CONNECT_LOCATION="Canada Vancouver" # Country City
VPN_CONNECT_LOCATION=United_States # Country City
# VPN_PRIVATE_KEY=someKey

# NZB Client
# NZBGET_USER=admin
# NZBGET_PW=adminadmin

# ServARR stuff
PUID=1000
PGID=1000

# Media Locations
ROOT_DIR=/media/plex
SUBNET=192.168.50.0/24

### PORTS ###
# QBittorrent
QBIT_WEB_PORT1=8080
QBIT_INC_PORT1=6881
QBIT_INC_PORT2=6881/udp
# Sabnzbd
SABNZBD_PORT=8085
# Prowlarr
SABNZBD_PORT=9696
# Radarr
RADARR_PORT=7878
# Sonarr
SONARR_PORT=8989
# Lidarr
LIDARR_PORT=8686
# Readarr
READARR_PORT=8787
# Bazarr
BAZARR_PORT=6767
# Overseerr
OVERSEERR_PORT=5055
# Requestrr
REQUESTRR_PORT=4545
# Jellyfin
JELLYFIN_PORT=8096
# Plex
PLEX_PORT=32400

# OTHER APPS
## PI_HOLE
PIHOLE_PW=adminadmin