# To create a variable, use ${<some_label>} in the main file, 
# then in this .env file, create <SOME_LABEL>="something"
# ie. TIMEZONE=${TIMEZONE}, env -> TIMEZONE="America/Vancouver"
#     Output: TZ=America/Vancouver

# If you're not sure what timezone you should fill in, you can look at the following list:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Use the column that says "TZ database name".
TIMEZONE=America/Vancouver


# The PleX claim token is used to connect your server to your account. It can be obtained at
# https://www.plex.tv/claim/ and is valid for 4 minutes after generating the token.
PLEX_CLAIM_ID=someClaimKey

# VPN (NordVPN)
# webui login page:
#   user = admin
#   pw = adminadmin # change this when logged in!
VPN_USER=sample.gmail.com
VPN_PW=somePassword
# Note: The user/pw method is deprecated. Go to the link below, go to Access
#       Token and get your key there instead. Paste it below
# https://my.nordaccount.com/dashboard/nordvpn/manual-configuration/
VPN_TOKEN=e**************************************************************e
# VPN_CONNECT_LOCATION="Canada Vancouver" # Country [City]
VPN_CONNECT_LOCATION=United_States # Country [City]
# VPN_PRIVATE_KEY=someKey

# NZB Client
# NZBGET_USER=admin
# NZBGET_PW=adminadmin

# ServARR stuff
PUID=1000
PGID=1000

# Media Locations
ROOT_DIR=/media/plex
SUBNET=192.168.1.0/24

### PORTS ###
REQUESTRR_PORT=4545
OVERSEERR_PORT=5055
BAZARR_PORT=6767
WHISPARR_PORT=6969
RADARR_PORT=7878
QBT_WEB_PORT=8080 # WEBUI
QBT_TORRENTING_PORT=6881
JELLYFIN_PORT=8096
HOMEASSISTANT_PORT=8123
TAUTULLI_PORT=8181
FLARESOLVERR_PORT=8191
TDARR_WEBUI_PORT=8265
TDARR_SERVER_PORT=8266
PLEX_PORT=
LIDARR_PORT=8686
READARR_PORT=8787
SONARR_PORT=8989
PORTAINER_PORT=9443
PROWLARR_PORT=9696
STASH_PORT=9999
NZB_CLIENT_PORT=8085


# OTHER APPS
## PI_HOLE
PIHOLE_PW=adminadmin

### Media Locations ###
DRIVEPOOL=/media/drivepool